.idea/
venv/
.venv
/container/grafana/*
/container/loki/*
/container/prometheus/*
.lycheecache
*.iml
.env
opentelemetry-javaagent*.jar
grafana-opentelemetry*.jar
build/


# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
